<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body>
<header class="layui-bg-cyan">
    <nav class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md2 logo">
                <a href="javascript:;"><img
                        src="http://www.muzhuangnet.com/upload/201610/17/201610171329086541.png"></a>
            </div>
            <div class="layui-col-md8 layui-hide-xs">
                <ul class="layui-nav layui-bg-cyan">
                    <li class="layui-nav-item layui-this">
                        <a href="/">首页</a>
                    </li>
                    {% for nav in navs %}
                        <li class="layui-nav-item">
                            <a href="/category/{{ nav.id }}.html">{{ nav.name }}<span
                                    class="layui-badge-dot"></span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="layui-col-md2 layui-hide-xs userinfoBox">
                <ul class="layui-nav layui-bg-cyan">
                    <li class="layui-nav-item">
                        <a href="javascript:;"><i class="layui-icon layui-icon-search search"></i></a>
                    </li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;"><img src="https://t.cn/RCzsdCq" class="layui-nav-img">Brother</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">修改信息</a></dd>
                            <dd><a href="javascript:;">安全管理</a></dd>
                            <dd><a href="javascript:;">退了</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="layui-container">
    <div class="layui-row layui-col-space20">
        {% block main %}
        {% endblock %}
        {#    侧边栏#}
        <div class="layui-col-md4">
            <div class="layui-row">
                {% for sidebar in sidebars %}
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
								<span>
                                {{ sidebar.title }}
								</span>
                            </div>
                            <div class="layui-card-body">
                                {{ sidebar.content_html }}
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12 margin20"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- 尾部 -->
<div class="footer"></div>
<footer class="layui-bg-cyan">
    <div class="layui-container">
        <div class="layui-row">
            <p>本站部分内容来源于网络，若侵犯到您的利益，请联系站长删除！谢谢！Powered By <a href="https://gitee.com/XzcGroup/XzcBlogTemplate"
                                                             target="_blank" title="XzcBlogTemplate">XzcBlogTemplate</a>
            </p>
        </div>
    </div>
</footer>
</body>
<script src="{% static 'layui/layui.all.js' %}"></script>

<script>
    layui.carousel.render({
        elem: '#carousel'
        , width: '100%' //设置容器宽度
        , arrow: 'always' //始终显示箭头
        //,anim: 'updown' //切换动画方式
    });
</script>
</html>